Package: wordcount
Version: 1.0
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Student <vlad.maslyukov.04@gmail.com>
Description: Word count program
 Reads a string and outputs number of words
